<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring-transaction-management/src/main/java/com/tutorial/spring_transaction_management/SpringMainClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tutorial.spring_transaction_management.SpringMainClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring-transaction-management"/>
</launchConfiguration>
